@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo(a)</h1>
    <a asp-controller="Tasks" asp-action="Index" class="btn btn-success">Tarefas</a>
</div>
